<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to mywebsite</title>
</head>
<body>
<h1>TextLogo</h1>

<hr>

<nav>
<a href="/">Home</a>|
<a href="/about">About</a>|
<a href="/login">Login</a>|
<a href="/weatherapi">Weather API</a>|
</nav>

<hr>

<h1>Login Here</h1>

<form action="/login/validate/" method="post">
        {% csrf_token %}
    User Name : <input type="text" name="uname" required />
    <br>
    <br>
    Password : <input type="password" name="pw" required />
    <br>
    <br>
    <input type="submit" value="Login" />
</form>
<br>
<br>
<a href="/login/registeruser">New User?? Register Here</a>

</body>
</html>