<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to mywebsite</title>
</head>
<body>
<h1>TextLogo</h1>

<hr>

<nav>
<a href="/">Home</a>|
<a href="/about">About</a>|
<a href="/weatherapi">Weather API</a>|
</nav>

<hr>

<h1>Welcome to Login page</h1>
<p>This is about Login page</p>

<form action="/validate" method="post">

    <input type="text" name="name" />
    <input type="password" name="password"/>
    <input type="submit"/>

</form>

</body>
</html>